:root {
--color00: #1e1e2e;
--color01: #1e1e2e;
--color02: #1e1e2e;
--color03: #bac2de;
--color04: #bac2de;
--color05: #cdd6f4;
--color06: #bac2de;
--color07: #bac2de;
--color08: #f38ba8;
--color09: #f9e2af;
--color0A: #f9e2af;
--color0B: #a6e3a1;
--color0C: #94e2d5;
--color0D: #89b4fa;
--color0E: #f5c2e7;
--color0F: #f38ba8;
}
