@define-color selected-text #89b4fa;
@define-color text #cdd6f4;
@define-color base #1e1e2e;
@define-color border #cdd6f4;
@define-color foreground #cdd6f4;
@define-color background #1e1e2e;

window .box-wrapper {
  background: alpha(@base, 0.4);
  padding: 8px;
  border-radius: 8px;
  color: @text;
  border: 2px solid @border;
  margin: 0;
}

window .search-container {
  background: transparent;
  border-radius: 8px;
  /* border: 1px solid @border; */

}

window .placeholder {
  opacity: 0.4;
  color: @text;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 8px;
  background: transparent;
  border-radius: 0;
  border-left: 0px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover {
  background: linear-gradient(90deg, alpha(@accent, 0.08), transparent 80%);
  border-left: 0px solid alpha(@accent, 0.4);
}

child:selected {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  border-left: 0px solid @accent;
}
